In [20]:
from IPython.display import display, HTML
from datetime import date
import os
import pandas as pd

# pandas_datareader spams FutureWarning on import
import warnings
warnings.filterwarnings('ignore', module='pandas_datareader')
from pandas_datareader import wb

# find target path for data files, assuming the notebook is in the right place
data_path = _dh[0]
assert data_path.endswith(os.path.join('em-2020','data'))

Fetch all indicators and select out those of interest:

In [47]:
all_indicators = wb.get_indicators().set_index('id')
# all_indicators = all_indicators.query('source == "World Development Indicators"')
# all_indicators = all_indicators.query('source == "WDI Database Archives"')
indicator_map = {
#     'NV.IND.TOTL.ZS': 'ISG',
#     'EG.EGY.PRIM.PP.KD': 'EI',
#     '6.1_PRIMARY.ENERGY.INTENSITY': 'EI',
    'NE.TRD.GNFS.ZS': 'TO',
    'NY.GDP.PCAP.KD': 'P_GDPa',
    'NY.GDP.PCAP.CD': 'P_GDP',
}
indicator_map = {}
search = lambda x: all_indicators.loc[all_indicators.name.str.match(x, case=False), 'name']
to_test = {k:k for k in search('indust').index}
indicator_map.update(to_test)
indicator_ids = indicator_map.keys()
all_indicators.loc[indicator_ids, ['name', 'sourceNote', 'source']]

,name,sourceNote,source
id,,,
5.01.01.01.indust,Industrial production index,Industrial production index measures changes i...,Statistical Capacity Indicators
EN.ATM.NOXE.IN.KT.CE,Industrial nitrous oxide emissions (thousand m...,,WDI Database Archives
IP.IDS.NRCT,"Industrial design applications, nonresident, b...",Industrial design applications are application...,World Development Indicators
IP.IDS.RSCT,"Industrial design applications, resident, by c...",Industrial design applications are application...,World Development Indicators
IPTOTNSKD,"Industrial Production, constant US$",An economic indicator that measures changes in...,Global Economic Monitor
IPTOTSAKD,"Industrial Production, constant US$, seas. adj.",An economic indicator that measures changes in...,Global Economic Monitor
NP.IND.TOTL.IN,Industrial Value Added Deflator,,WDI Database Archives
NP.IND.TOTL.KN,"Industry, value added (local) (Const. Price)",,WDI Database Archives
NP.IND.TOTL.ZG,Industry: contribution to growth of GDP (%),,WDI Database Archives
NV.IND.EMPL.KD,"Industry (including construction), value added...",Value added per worker is a measure of labor p...,World Development Indicators
NV.IND.TOTL.CD,"Industry (including construction), value added...",Industry corresponds to ISIC divisions 10-45 a...,World Development Indicators
NV.IND.TOTL.CN,"Industry (including construction), value added...",Industry corresponds to ISIC divisions 10-45 a...,World Development Indicators
NV.IND.TOTL.KD,"Industry (including construction), value added...",Industry corresponds to ISIC divisions 10-45 a...,World Development Indicators
NV.IND.TOTL.KD.87,"Industry, value added (constant 1987 US$)",,WDI Database Archives
NV.IND.TOTL.KD.ZG,"Industry (including construction), value added...",Annual growth rate for industrial value added ...,World Development Indicators
NV.IND.TOTL.KN,"Industry (including construction), value added...",Industry corresponds to ISIC divisions 10-45 a...,World Development Indicators
NV.IND.TOTL.KN.87,"Industry, value added (constant 1987 LCU)",,WDI Database Archives
NV.IND.TOTL.KN.87.ZG,"Industry, value added (annual % growth)",,WDI Database Archives
NV.IND.TOTL.XD,"Industry, val. added defl. (1987=100,Index)",,WDI Database Archives
NV.IND.TOTL.ZG,Industry: contribution to growth of GDP (%),,WDI Database Archives
NV.IND.TOTL.ZS,"Industry (including construction), value added...",Industry corresponds to ISIC divisions 10-45 a...,World Development Indicators

Fetch all countries and select out those of interest:

In [22]:
all_countries = wb.get_countries().set_index('iso3c')
country_ids = [
    'BGD',
#     'GBR',
]
country_map = all_countries.loc[country_ids, 'name'].to_dict()
all_countries.loc[country_ids, ['name', 'region']]

             name      region
iso3c
BGD    Bangladesh  South Asia

Download the data and save it

In [23]:
data = wb.download(country=country_ids, indicator=indicator_ids, start=1986, end=date.today().year)

In [24]:
# rescale to 2018 US$ levels to match Pan et al. (2019)
scaler = 1210.16 / 1248.453398
data['NY.GDP.PCAP.CD'] *= scaler

data.rename(columns=indicator_map, inplace=True)

for country_id, country_name in country_map.items():
    country_data = data.xs(country_name, level='country').sort_index().dropna(how='all')
    country_data.index = country_data.index.astype('i')
    display(HTML('<h2>{}</h2>'.format(country_name)))
    display(country_data.head())
    display(HTML(country_data.loc[1986:2015].describe().loc[['min', 'max', 'mean', 'std']].T
            .sort_values('min').to_html(float_format='{:.2f}'.format)))
    country_data.to_csv(os.path.join(data_path, '{}.csv'.format(country_name)))

,TO,P_GDPa,P_GDP,IP.IDS.NRCT,IP.IDS.RSCT,NV.IND.EMPL.KD,NV.IND.TOTL.CD,NV.IND.TOTL.CN,NV.IND.TOTL.KD,NV.IND.TOTL.KD.ZG,NV.IND.TOTL.KN,NV.IND.TOTL.ZS
year,,,,,,,,,,,,
1986,17.018743,394.335069,226.491131,2.0,175.0,NaN,4.437333e+09,1.331200e+11,5.705081e+09,6.908458,3.077614e+11,20.379014
1987,16.687798,398.588127,246.184388,4.0,166.0,NaN,4.762613e+09,1.476410e+11,6.197252e+09,8.626892,3.343117e+11,19.600817
1988,17.678064,397.761912,262.396522,3.0,176.0,NaN,5.298846e+09,1.653240e+11,6.390794e+09,3.123027,3.447523e+11,19.936209
1989,18.325174,398.852110,277.062069,10.0,232.0,NaN,5.694954e+09,1.828080e+11,6.632311e+09,3.779146,3.577810e+11,19.786707
1990,18.966502,411.164611,296.874625,4.0,189.0,NaN,6.365684e+09,2.094310e+11,7.116306e+09,7.297530,3.838902e+11,20.145626

In [90]:
import requests
import json

In [104]:
r = requests.get('http://api.worldbank.org/v2/country/BGD/indicator/NV.IND.TOTL.ZS',
                params={'format': 'json', 'per_page': 1000, 'version': 201804})
r.content[:100]

b'[{"page":1,"pages":1,"per_page":1000,"total":60,"sourceid":"2","lastupdated":"2020-04-09"},[{"indica'

In [105]:
result = json.loads(r.content)

In [106]:
result[1][4]

{'indicator': {'id': 'NV.IND.TOTL.ZS',
  'value': 'Industry (including construction), value added (% of GDP)'},
 'country': {'id': 'BD', 'value': 'Bangladesh'},
 'countryiso3code': 'BGD',
 'date': '2015',
 'value': 26.8313948329541,
 'unit': '',
 'obs_status': '',
 'decimal': 1}

In [110]:
response = requests.get('http://api.worldbank.org/v2/sources', params={'format': 'json', 'per_page': 1000})
result = json.loads(response.content)
data = result[1]

In [113]:
[x for x in data if 'Archive' in x['name']]

[{'id': '57',
  'lastupdated': '2020-01-29',
  'name': 'WDI Database Archives',
  'code': 'WDA',
  'description': '',
  'url': '',
  'dataavailability': 'Y',
  'metadataavailability': 'Y',
  'concepts': '4'}]