In [1]:
import codecs
import glob
import os
import pandas as pd
import pycountry
from io import StringIO

import seaborn as sns

# find target path for data files, assuming the notebook is in the right place
data_path = _dh[0]
assert data_path.endswith(os.path.join('em-2020','data'))

output_path = os.path.join(data_path, 'ChinnIto_reshaped.csv')

In [2]:
kaopen_raw = pd.read_excel(os.path.join(data_path, 'kaopen_2018.xls'))
kaopen_raw.head()

    cn ccode   country_name  year    kaopen  ka_open
0  111   USA  United States  1970  2.333585      1.0
1  111   USA  United States  1971  2.333585      1.0
2  111   USA  United States  1972  2.333585      1.0
3  111   USA  United States  1973  2.333585      1.0
4  111   USA  United States  1974  2.333585      1.0

In [3]:
kaopen_reshaped = kaopen_raw[['ccode', 'year', 'kaopen']]
kaopen_reshaped.columns = ['Country Code', 'Year', 'KAOPEN']
kaopen_reshaped.head()

  Country Code  Year    KAOPEN
0          USA  1970  2.333585
1          USA  1971  2.333585
2          USA  1972  2.333585
3          USA  1973  2.333585
4          USA  1974  2.333585

In [4]:
kaopen_reshaped.to_csv(output_path)